@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
.landing{
  height: 100vh;
}
.ellipse1 {
  border-radius: 50%;
  position: absolute;
  width: 224px;
  height: 208px;
  left: -9%;
  top: 17px;
  z-index: 0;
  background: linear-gradient(180deg, #7babf2 -24.52%, #48a1c7 137.26%);
  box-shadow: -3px 2px 26px 2px rgb(0 0 0 / 25%);
}

.ellipse2 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 3%;
  top: 172px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ca7bf2 -24.52%, #b321fd 137.26%);
  filter: blur(3px);
  z-index: 1;
}

.ellipse3 {
  z-index: -1;
  position: absolute;
  width: 44px;
  height: 44px;
  left: 8%;
  top: 41px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ca7bf2 -24.52%, #b321fd 137.26%);
  filter: blur(3.5px);
}

.landingdiv {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  margin: 50px 150px;
  justify-content: space-between;
  /* align-items: center; */
  overflow-x: hidden;
}

.logo {
  /* position: absolute; */
  z-index: 2;
  width: 250px;
  /* height: 91px; */
  /* left: 12%; */
  /* top: 53px; */
  /* margin: 10px;*/
}

.upperdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  z-index: 3;
}

.righttextdiv {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 350px;
  z-index: 3;
}

.ellipse4 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #ca7bf2 -24.52%, #b321fd 137.26%);
  box-shadow: -3px 2px 26px 2px rgb(0 0 0 / 25%);
  z-index: -1;
  border-radius: 0 0 0 100%;
  /* -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px; */
}

.ellipse5 {
  z-index: -2;
  position: absolute;
  width: 157px;
  height: 157px;
  top: 100px;
  right: 25px;
  background: linear-gradient(180deg, #7babf2 -24.52%, #48a1c7 137.26%);
  filter: blur(15px);
  border-radius: 50%;
}

.ellipse6 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 85%;
  top: 530px;
  background: linear-gradient(180deg, #ca7bf2 -24.52%, #b321fd 137.26%);
  box-shadow: -3px 2px 26px 2px rgb(0 0 0 / 25%);
  border-radius: 50%;
  z-index: -1;
}

.ellipse7 {
  position: absolute;
  width: 75px;
  height: 75px;
  /* left: 90%; */
  top: 500px;
  background: linear-gradient(180deg, #ca7bf2 -24.52%, #2179fd 137.26%);
  box-shadow: -3px 2px 26px 2px rgb(0 0 0 / 25%);
  border-radius: 50%;
  z-index: -1;
}

/*
.event_date{
  position: absolute;
  width: 300px;
  left: 78%;
  top: 55px;
  font-family: 'Roboto';
  font-style: normal;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
} */
.landing_nav{
  margin: 70px 0 0 0;
}
.lowerdiv {
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  /* flex-wrap: wrap; */
}

.lowerleftdiv {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.text1 {
  font-family: "Libre Baskerville";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 45px;
  margin-top: 30px;
  line-height: 100px;
  /* text-align: left; */
  color: #000000;
}

/* .pgheading{
  display: flex;
  align-items: flex-end;
}
.stroke{
  width: 250px;
} */
.text2 {
  font-family: "Libre Baskerville";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 85px;
  line-height: 100px;
  background: linear-gradient(180deg, #48a1c7 0%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 100px;
  /* text-align: left; */
  color: #000000;
}

.rightimage {
  width: 500px;
  padding-top: 80px;
  padding: 10px;
}

.lowerdivcoll {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 400px;
  text-align: center;
  align-items: center;
}

.logo_konn {
  width: 120px;
}

.logo_op {
  width: 80px;
}

.lowerdivinnercoll {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/*
.landing_body_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.landing_body{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
} */
/* .landing_body_left {
  display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 30px;
    margin-top: 20px;
    align-items: flex-start;
}
.landing_body_right img{
  width: 420px;

}
.landing_body_left button {
  color: white;
  margin-top: 70px;
  font-size: 35px;
  width: 371px;
  height: 80px;
  left: 685px;
  top: 597px;
  background: radial-gradient(123.12% 1493.79% at 3.65% 0%, #48A1C7 0%, #0B476E 100%) 
  border-radius: 10px;
  border-color: transparent;
} */
.regbutton {
  color: white;
  /* margin-top: 70px; */
  margin-bottom: 50px;
  font-size: 35px;
  width: 371px;
  height: 80px;
  left: 685px;
  /* top: 550px; */
  background: radial-gradient(123.12% 1493.79% at 3.65% 0%,
      #48a1c7 0%,
      #0b476e 100%);
  border-radius: 10px;
  border-color: transparent;
}
.reglink:hover{
  cursor: auto;
}
.regbutton:hover {
cursor:pointer;
}

@media only screen and (max-width: 1430px) {
  .ellipse6 {
    display: none;
  }

  .ellipse7 {
    display: none;
  }
}

@media only screen and (max-width: 1405px) {

  /* .lowerdiv {
    justify-content: center;
  } */
  .rightimage {
    width: 450px;
    padding-top: 70px;
  }
}

@media only screen and (max-width: 1355px) {

  .text1,
  .text2,
  .text3 {
    line-height: 4.5rem;
  }

  .text1 {
    font-size: 2.5rem;
  }

  .text2 {
    font-size: 4.5rem;
  }

  .regbutton {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1289px) {
  .text1 {
    font-size: 2.3rem;
    line-height: normal;

  }

  .text2 {
    font-size: 4rem;
    margin: 20px 0;
  }

}

@media only screen and (max-width: 1215px) {

  .text3 {
    line-height: normal;
    margin-top: 20px;
  }

  .ellipse3 {
    left: 20%
  }
}
@media only screen and (max-width:1115px){
  .landing{
    height: unset;
  }
}
@media only screen and (max-width: 1115px) {
  .lowerdiv {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 50px; */
  }

  .lowerleftdiv {
    align-items: center;
  }

  .rightimage {
    padding: 0;
   /* width: 300px; */
  } 

  .regbutton {
    margin-top: 70px;
  }

}

@media only screen and (max-width: 992px) {
  .landingdiv {
    margin: 50px 10vw;
  }

  .lowerleftdiv * {
    line-height: normal;
    z-index: 3;
  }

  .upperdiv {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .lowerdiv {
    text-align: center;
  }

  .lowerleftdiv {
    align-items: center;
  }

  .righttextdiv,

  .text1 {
    margin-top: 50px;
  }

  .regbutton {
    margin-top: 50px;
  }
}


@media only screen and (max-width: 750px) {
  .ellipse1 {
    width: 200px;
    height: 200px;
    left: -15%;
    top: 0;
  }

  .ellipse3 {
    left: 20%
  }
}

@media only screen and (max-width: 550px) {
  .ellipse1 {
    width: 150px;
    height: 150px;
  }

  .rightimage {
    display: none;
  }

  .ellipse5 {
    top: 50px;
  }

  .ellipse4 {
    width: 170px;
    height: 170px;
  }
  .lowerdivcoll {
    width: 380px;
  justify-content: space-evenly;
  }

}

@media only screen and (max-width: 450px) {
  .text1 {
    font-size: 25px;
  }

  /* .righttextdiv{
    z-index: 300;
  } */
  .ellipse2 {
    top: 140px;
  }

  .text2 {
    font-size: 55px;
  }

  .text3 {
    font-size: 20px;
  }

  .regbutton {
    width: 270px;
    height: 50px;
    font-size: 1.5rem;
  }

  .lowerdivcoll {
    width: 300px;
    justify-content: space-evenly;
    /* flex-direction: column; */
    /* margin-top: 150px; */
  }

  .lowerdivcoll p {
    font-size: 10px;
  }

  .logo_konn {
    width: 80px;
  }

  .logo_op {
    width: 60px;
  }

  .righttextdiv {
    font-size: 12px;
    justify-content: space-evenly;
  }
}